@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@keyframes fadeIn{
    from {opacity: 0;}
    to{opacity: 1;}
}

:root{
    --bg : #f6f4f0;
    --tx: #000000; 
    --bright: color(display-p3 0.6 0.8 1);
}

body{
    background-color: var(--bg, linen);
    color: var(--tx, rgb(48, 48, 48));
    font-family: 'Funnel Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-right: 0;
}

h1{
    font-size: 2.5rem; 
    margin: 0px;
}

nav{
    background-color: #7d6c5b;
    padding: 12px;
    margin-bottom: 30px;
    width: auto;
}

nav ul{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    display: flex;
    margin-right: 90px;
    margin-left: -40px;
}

nav a{
    color: white;
}

nav search{
    margin-left: -40px;
}

ul{
    line-height: 150%;
}

p{
    line-height: 150%;
}

header{
    height: 23vh;
    width: 100vw;
}

header h1, header h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#one{
    animation: fadeIn 2s ease;
}

#two{
    animation: fadeIn 6s ease;
}

#three{
    animation: fadeIn 10s ease;
}

nav a{
    transition: color 0.5s ease;
}

nav a:hover{
    color: gray;
    font-weight: bold;
    transform: scale(1.1);
}

details:has(pre){
    background-color: lightblue;
}

#ClubExperiences h3{
    color: var(--bright, navy);
}

#sum Summary{
    color: color-mix(in srgb, green 50%, black 50%);
}

#pic{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section, aside, footer{
    margin: 10px;
}

table{
    background-color: #7d6c5b;
    caption{
        margin-top: -25px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    tr{
        color: var(--bg, linen);
        th{
            padding: 10px;
        }
        td{
            padding: 10px;
            a{
                color: white;
            }
            a:hover{
                color: black;
                font-weight: bold;
                transform: scale(1.1);
            }
        }
    }
}

img{
    width: 440px;
    height: auto;
}

footer h2{
    padding-top: 20px;
}

button{
    background-color: #7d6c5b;
    color: var(--bg, linen);
    padding-right: 8px;
    padding-left: 8px;
}

button:hover{
    background-color: var(--bg, linen);
    color: black;
}

#search{
    width: 70%;
}

#contact_form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
}

label{
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea{
    padding: 8px;
    margin-top: 5px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

#contact_submit{
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input:required, textarea:required{
    border: 2px dashed gray;
}

input:user-invalid, textarea:user-invalid{
    border: 2px solid red;
}

textarea::placeholder{
    color: lightgray;
}

input:valid, textarea:valid{
    border: 2px solid green;
}

output{
    font-size: 0.9em;
}

#error{
    color: rgb(142, 0, 0);
}

#info{
    color: green;
}

@media (max-width: 350px){
    img{
        margin-top: -20px;
        width: 300px;
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
}

@media (min-width: 350px) and (max-width: 380px){
    img{
        width: 300px;
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
}

@media (min-width: 380px) and (max-width: 420px){
    img{
        margin-top: -20px;
        width: 300px;
        height: auto;
    }
    h1{
        font-size: 2rem;
    }
}

@media (min-width: 420px) and (max-width: 550px){
    img{
        width: 400px;
        height: auto;
    }
    h1{
        font-size: 2.5rem;
    }
}

@media (min-width: 550px) and (max-width: 850px){
    img{
        margin-top: -70px;
        width: 500px;
        height: auto;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.2rem;
    }
    li, summary, th, td, p, option, dialog, button, legend, label{
        font-size: 1.3rem;
    }
    figcaption{
        font-size: 1.1rem;
    }
}

@media (min-width: 850px) and (max-width: 1030px){
    img{
        margin-top: -110px;
        width: 550px;
        height: auto;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.3rem;
    }
    h3{
        font-size: 1.7rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.4rem;
    }
    li, summary, th, td, p, option, dialog, button, legend, label{
        font-size: 1.3rem;
    }
    figcaption{
        font-size: 1.5rem;
    }
}

@media (min-width: 850px) and (max-width: 1030px) and (max-height:900px){
    img{
        margin-top: 100px;
        width: 500px;
        height: auto;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.3rem;
    }
    h3{
        font-size: 1.7rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.4rem;
    }
    li, summary, th, td, p, option, dialog, button, legend, label{
        font-size: 1.3rem;
    }
    figcaption{
        font-size: 1.5rem;
    }
}

@media (min-width: 1030px){
    img{
        margin-top: 40px;
        width: 550px;
        height: auto;
    }
    h1{
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.8rem;
    }
    h4{
        font-size: 1.6rem;
    }
    h5{
        font-size: 1.5rem;
    }
    li, summary, th, td, p, option, dialog, button, legend, label{
        font-size: 1.4rem;
    }
    figcaption{
        font-size: 1.5rem;
    }
}
